[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
pandas = "*"
matplotlib = "*"
plotly = "*"
wget = "*"
streamlit-aggrid = "*"
psycopg2 = "*"
pymongo = "*"
sqlalchemy = "*"
flask = "*"

[dev-packages]
aidoc = "*"

[requires]
python_version = "3.10"
